<div class="footer-info">

      <div class="footer-brand">
            <div>&copy; 2026 Airbnb,inc</div>
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
            <a href="/company details">company details</a>

      </div>
      <div class="footer-social">
            <span> <i class="fa-solid fa-earth-americas"></i> ENGLISH(IN)</span>
            <div>
                  &#x20B9; INR
            </div>
            <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="/x"> <i class="fa-solid fa-x"></i></a>
            <a href="/instagram"><i class="fa-brands fa-instagram"></i></a>
      </div>
</div>